<table style="text-align: center;">
  <tr>
    <th>ID</th>
    <th>Provider Name</th>
    <th>Status</th>
    <th>Country Code</th>
  </tr>
  <% @connections_list.each do |connection| %>
    <tr>
      <td> <%= link_to connection['id'], accounts_path(:connection_id => connection['id']) %> </td>
      <td> <%= connection['provider_name'] %> </td>
      <td> <%= connection['status']%> </td>
      <td> <%= connection['country_code']%> </td>
      <td>
        <%= link_to 'Refresh /', connection_refresh_path(:id => connection['id']), :method => :put %>
        <%= link_to 'Reconnect /', 
                    connection_reconnect_path(:customer_id => @user.customer_id, :id => connection['id']), 
                   :method => :put 
                   %>
        <%= link_to 'Destroy', connection_destroy_url(:id => connection['id']),
            data: {confirm: 'Are you sure?'},
            :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>
