<table style="text-align: center;">
  <tr>
    <th>ID</th>
    <th>Mode</th>
    <th>Status</th>
    <th>Made On</th>
    <th>Amount</th>
    <th>Currency</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  <% @transactions_list.each do |transaction| %>
    <tr>
      <td> <%= transaction['id'] %> </td>
      <td> <%= transaction['mode'] %> </td>
      <td> <%= transaction['status'] %> </td>
      <td> <%= transaction['made_on'] %> </td>
      <td> <%= transaction['amount'] %> </td>
      <td> <%= transaction['currency_code'] %> </td>
      <td> <%= transaction['description'] %> </td>
      <td> <%= transaction['category'] %> </td>
    </tr>
  <% end %>
</table>
<%= link_to 'home', root_path %>
